include README.md
include LICENSE
include CITATION.cff
include CHANGELOG.md
include CLA.md
include pyproject.toml
recursive-include src/djura *.py
recursive-exclude tests *
global-exclude *.pickle
global-exclude *.pkl
global-exclude *.pkl.gz
global-exclude *.pickle.gz
